body {
    width: 80%;
    border: 1px solid red;
    text-align: center;
}

body li {
    list-style-type: none;
}

[data-route~=overview] {
    border: 1px solid orange;
    margin: 2%;
}

.garbage-box-overview {
    display: flex;
    flex-wrap: wrap;
}

.garbage-box-detail {
    display: flex;
    flex-wrap: wrap;
}

.garbage-container {
    flex: 1 10%;
    border: 1px solid green;
}